<div class="fade-in-down-animation">
    <div class="category-container">
        <div class="category-name">
            生&nbsp;活
             
        </div>
        <%= page.posts.length %> 篇
        <div class="category-post-list">
          <%- partial('_partial/category-article-list', {posts_new: page.posts}) %> 
        </div>
    </div>
    <div class="category-paginator">
        <%- partial('_partial/paginator', {pageObject: page}) %>
    </div>
</div>
